---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import FloatingTOC from "@components/FloatingTOC";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import i18next, { t } from "i18next";
import Giscus from "@giscus/react";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  originalUrl,
  pubDatetime,
  modDatetime,
  permalink,
  collapseDepth,
  tags,
} = post.data;

const { Content } = await post.render();

// todo ogImage 支持多语言
const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(ogImageUrl ?? `/posts/${permalink}.png`, Astro.url.origin)
  .href;

const isFromGitHubIssue =
  originalUrl &&
  originalUrl.startsWith("https://github.com/bowencool/blog/issues");
const giscusLang = i18next.language.startsWith("zh") ? "zh-CN" : "en";
// const giscusBacklink = Astro.url.origin + Astro.url.pathname.replace(/^\/zh/, "");

const layoutProps = {
  title,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage: ogUrl,
  scrollSmooth: true,
};
---

<Layout {...layoutProps}>
  <!-- todo: set title and description to en -->
  <!-- <meta
    slot="meta"
    name="giscus:backlink"
    content={giscusBacklink}
  /> -->
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>{t("goBack")}</span>
    </button>
  </div>
  <main id="main-content">
    <!-- todo -->
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      className="my-2"
    />
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    <nav id="floating-toc"></nav>
    <FloatingTOC client:only collapseDepth={collapseDepth} />

    <ul class="my-8">
      {tags.map(tag => <Tag tag={slugifyStr(tag)} />)}
    </ul>
    <Giscus
      client:only
      id="comments"
      repo="bowencool/blog"
      repoId="MDEwOlJlcG9zaXRvcnkxMjgzNTcxMjE="
      category="Announcements"
      categoryId="DIC_kwDOB6aTAc4CchIn"
      mapping="specific"
      strict={isFromGitHubIssue ? "0" : "1"}
      term={permalink}
      reactionsEnabled="1"
      emitMetadata="0"
      theme="preferred_color_scheme"
      lang={giscusLang}
      loading="lazy"
    />
    <div class="flex justify-end">
      <button
        id="back-to-top"
        class="focus-outline whitespace-nowrap hover:opacity-75"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
        <span>{t("backToTop")}</span>
      </button>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>
<style is:global>
  #floating-toc {
    @apply fixed top-28;
    transform: translateX(0);
    right: calc((100% - 84rem) / 2);
    .toc-list {
      position: relative;
      overflow: hidden;
    }
  }
  .is-active-link::before {
    @apply !bg-skin-accent;
  }
</style>

<script is:inline>
  /* When the user clicks on the "Back to Top" button,
   * scroll to the top of the document */
  document.querySelector("#back-to-top")?.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  });
</script>

<style>
  @import "tocbot/dist/tocbot.css";
</style>
