---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import type { Tag } from "@utils/getUniqueTags";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: Tag;
}

const { currentPage, totalPages, paginatedPosts, tag } = Astro.props;
---

<Layout title={`${t("tags")}: ${t(`tags:${tag.slug}`)}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`${t("tags")}:`, t(`tags:${tag.slug}`)]}
    titleTransition={tag.slug}
    pageDesc={t("tagsDesc{{tag}}", { tag: t(`tags:${tag.slug}`) }) as string}
  >
    <!-- todo trasnsition? -->
    <h1 slot="title" transition:name={tag.slug} >{`${t("tags")}:${tag.slug}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card
            href={localizePath(`/posts/${data.permalink || slug}`)}
            frontmatter={data}
            transition:persist
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={localizePath(
      `/tags/${tag.slug}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`
    )}
    nextUrl={localizePath(`/tags/${tag.slug}/${currentPage + 1}`)}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
